#fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    user-select: none;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.25s ease;
}

#fullscreen #window {
    position: relative;
    min-width: 25vw;
    min-height: 25vh;
    max-width: 100vw;
    max-height: 90vh;
    background: #0f0f0f;
    border-radius: 16px;
    box-shadow: 0px 0px 8px #bfbfbf7f;
    padding: 8px;
    
}

#fullscreen #window #close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 31px;
    height: 30px;
    padding: 0px 0px 2px 1px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 100;
}

#fullscreen #window #close {
    color: #ffffffbf;
}

#fullscreen #window #close:hover {
    color: red;
}

#fullscreen #window #content {
    max-width: calc(100vw - 16px);
    max-height: calc(90vh - 16px);
    overflow-x: hidden;
    overflow-y: auto;
}

.modelviewer-container {
    aspect-ratio: 1 / 1;
    margin: 8px;
    border-radius: 8px;
    background: white;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.modelviewer-container model-viewer {
    width: 100%;
    height: 100%;
}

.modelviewer-container model-viewer button {
    height: 16px;
    padding: 0px 6px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 12px;
    font-weight: 300;
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.modelviewer-panel {
    width: 300px;
    margin: 8px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.modelviewer-panel-desc {
    width: 100%;
}

.modelviewer-panel-desc div {
    font-size: 16px;
    font-weight: 500;
    margin: 4px;
}

.modelviewer-panel-prompt {
    width: calc(100% - 16px);
    height: 250px;
    padding: 8px;
    background: #222222;
    border-radius: 8px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: start;
    justify-content: center;
    overflow-y: auto;
    user-select: text;
}

.modelviewer-panel-button {
    height: 40px;
    margin: 4px 4px;
    padding: 0px 14px;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.modelviewer-panel-button.small {
    height: 32px;
    padding: 0px 12px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 300;
}

.modelviewer-panel-button.tiny {
    height: 24px;
    padding: 0px 10px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 300;
}

.modelviewer-panel-button:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateY(-2px);
}

.modelviewer-panel-button.checked {
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}
